<configuration>
  <protocols>
    <ospf>
    <area>
      <name>{{ host.facts.ospf.area }}</name>
      {% for int in host.facts.ospf.interfaces %}
      {% if int.passive != "True" %}
      <interface operation="replace">
        <name>{{ int.name }}</name>
          <interface-type>p2p</interface-type>
          <ldp-synchronization>
          </ldp-synchronization>
      </interface>
      {% else %}
      <interface>
        <name>{{ int.name }}</name>
          <passive>
          </passive>
      </interface>
      {% endif %}
      {% endfor %}
    </area>
    </ospf>
  </protocols>
</configuration>