  <config>
  <ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ipv4-ospf-cfg">
      <processes>
        <process>
          <process-name>{{ host.facts.ospf.id }}</process-name>
          <default-vrf>
            <router-id>{{ host.facts.ospf.rid }}</router-id>
            {%if host.facts.ospf.ldp_autoconfig =="True"%}
            <process-scope>
              <ldp-auto-config/>
            </process-scope>
            {%endif%}
            <area-addresses>
              <area-area-id>
                <area-id>{{ host.facts.ospf.area}} </area-id>
                <running/>
                <name-scopes>
                {% for int in host.facts.ospf.interfaces %}
                  {%if int.type == "Loopback" %}
                  <name-scope>
                    <interface-name>{{ int }}</interface-name>
                    <running/>
                  </name-scope>
                  {% else %}
                  <name-scope>
                    <interface-name>{{ int }}</interface-name>
                    <running/>
                    <network-type>point-to-point</network-type>
                  </name-scope>
                  {% endif %}
                {% endfor %}
                </name-scopes>
              </area-area-id>
            </area-addresses>
          </default-vrf>
          <start/>
        </process>
      </processes>
    </ospf>
</config>